<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Crusade</title>
    <link rel="stylesheet" href="../static/css/gameplay.css">
    <script src="../static/js/gameplay.js" defer></script>
</head>
<body>
    <header>
       <div onclick="open_event()">cc</div>
       <div>TURNS: <p id="turns">0</p></div>
       <div>SCORE: <p id="score">0</p></div>
       <div id="info" onclick="open_info()">i</div>
    </header>

    <div class="main-content">
        <div class="left-buttons">
            <button id="olj1">OLJ.</button>
            <button id="olj2">OLJ.</button>
            <button id="olj3">OLJ.</button>
        </div>

        <div class="center-grid">
            <button id="button1" onclick="button_click(1)">Vastaus 1</button>
            <button id="button2" onclick="button_click(2)">Vastaus 2</button>
            <button id="button3" onclick="button_click(3)">Vastaus 3</button>
            <button id="button4" onclick="button_click(4)">Vastaus 4</button>
            <button id="button5" onclick="button_click(5)">Vastaus 5</button>
            <button id="button6" onclick="button_click(6)">Vastaus 6</button>
        </div>
    </div>

    <footer>
    <div class="question">
        <p>Which country is the given airport in?</p>
        <p id="airport">Airport Name Here</p>
    </div>
    <div class="icons">
        <img id="heart1" src="../static/Images/heart_full.svg" alt="Heart 1">
        <img id="heart2" src="../static/Images/heart_full.svg" alt="Heart 2">
        <img id="heart3" src="../static/Images/heart_full.svg" alt="Heart 3">
    </div>
    </footer>

    <div id="overlay" onclick="close_info()"></div>
    <div id="info-popup">
        <p>*The purpose of the game is to accumalate as much co2-emmissions as possible in the span of 24 months.</p>
        <p>*To answer a question click one of the six buttons with a country name on it.</p>
        <p>*After you have answered a question correctly you will get to choose where to travel from the remaining options, the further you go the more emmissions you get.</p>
        <p>*If you answer incorrectly your chosen option and a random option will disappear. </p>
        <p>*To use lifelines click a lifeline button on the left, the lifeline will delete half of the answer options.</p>
        <button id="close-popup" onclick="close_info()">Close</button>
    </div>

    <div id="event-overlay" onclick="close_event()"></div>
        <div id="event-popup">	
        <p id="random-event"></p>
        <button id="close-event-popup" onclick="close_event()">Close</button>
    </div>
</body>
</html>
